---
title: Capital Fund Grants
---

<h1>Capital/Infrastructure Fund Grants</h1>

<h2>2019 &ndash; 2020</h2>

<h3>ASUCLA Student Union: Union Compost Bin Expansion</h3>

<p>This project reduces unnecessary waste and promotes sustainability at UCLA&rsquo;s Student Union while actively teaching students, faculty, and visitors about the importance of composting. The Student Union has implemented compost bins on both the 1st floor and A level of Ackerman Union. These compost bins are currently placed in the areas of the Student Union which sell food. While these compost bins have improved the Student Union&rsquo;s goal to reduce waste and promote sustainability, there is a need for more compost bins to be placed throughout the rest of the Union &mdash; as we know that many students, faculty, and visitors (22,500 visitors on average per day) tend to eat their food outside of the designated food areas.

<h4>Award Amount</h4>
<p>$27,431.94
