---
title: Overview
---

<h1>Program Overview</h1>

<p>Every quarter since its inaugural grant cycle in Fall 2008, TGIF has awarded thousands of dollars in grants to a diverse array of projects that promote sustainability and a greener tomorrow. Roughly $200,000 per year is available for student-initiated sustainability projects on campus.

<section class=showcase>
	<img src=/img/coastalong.jpg alt="Bicyclists at Coastalong.">
	<div>
		<h2><a href=/projects/mini>TGIF Mini</a></h2>
		<p>TGIF Mini supports projects within Sustainability Professional Development, Making Your Event Green, Sustainability Project, Outreach and Education, and Sustainability Raffle.
		<p>This grant has funded environmental research and projects such as higher education conferences, workshops, farmers markets, sustainable engineering competitions, and community service events.
	</div>
</section>

<section class=showcase>
	<img src=/img/la-hacks.jpg alt="Competitors at LA Hacks.">
	<div>
		<h2><a href=/projects/main>TGIF Main</a></h2>
		<p>TGIF Main supports large-scale projects that benefit the campus community, granting up to $10,000 per project.
		<p>This grant has funded sustainable fashion shows and festivals, climate justice forums, conferences, ambassador programs, infrastructure changes, and awareness campaigns.
	</div>
</section>

<section class=showcase>
	<img src=/img/farmers-mkt.jpg alt="Fresh fruits and vegetables from a farmer's market.">
	<div>
		<h2><a href=/projects/capital>Capital/Infrastructure Projects</a></h2>
		<p>Introduced in 2019, this grant category funds projects that cost over $10,000 and are considered capital or infrastructure, such as retrofit projects, installation projects, and building/campus improvement projects.
		<p>TGIF funded ASUCLA Student Union’s compost bin expansion that aimed to reduce unnecessary waste and teach students, faculty, and visitors the importance of composting.
	</div>
</section>
