---
title: Home
---

<h1>We are creating a more sustainable future</h1>

<p>The Green Initiative Fund (TGIF) is UCLA&rsquo;s Green Fund. TGIF provides funding through grants for projects that improve and support UCLA&rsquo;s campus sustainability efforts.
<p><a href>Apply now</a>
