---
title: Home
features:
  - swoosh
---

<img class=banner src=/img/earth.svg alt="Illustration of planet Earth, facing the Atlantic Ocean. It rests on some leaves, arranged as if it's the center of a flower. Symbols float above and around it &mdash; clouds, a recycling bin, a light bulb, a water droplet, and windmills.">

<h1>We are creating a more sustainable future.</h1>

<p>The Green Initiative Fund (TGIF) is UCLA&rsquo;s Green Fund. TGIF provides funding through grants for projects that improve and support UCLA&rsquo;s campus sustainability efforts. <a href=/about/mission/>Learn about our mission.</a>

<p><strong>Applications are open!</strong> Deadlines are:
	<ul>
		<li><b>Main Fund</b>: Friday, 11:59PM, Week 2 each quarter.
		<li><b>Mini Fund</b>: Friday, 11:59PM, Weeks 2, 4, 6, 8 each quarter.
		<li><b>Capital/Infrastructure Fund</b>: Rolling.
	</ul>

<p><a class=button href=/apply/process/>Apply now</a>

<p><a href=https://docs.google.com/spreadsheets/d/1cY--Viu7ufzXybPht4Phbf_hIXD7NaTYhiewp8k7D00/view>Track application/requisition form progress</a>
