---
title: Home
features:
  - swoosh
---

<img class=banner src=/img/earth.svg alt="Illustration of planet Earth, facing the Atlantic Ocean. It rests on some leaves, arranged as if it's the center of a flower. Symbols float above and around it &mdash; clouds, a recycling bin, a light bulb, a water droplet, and windmills.">

<h1>We are creating a more sustainable future.</h1>

<p>The Green Initiative Fund (TGIF) is UCLA&rsquo;s Green Fund. TGIF provides funding through grants for projects that improve and support UCLA&rsquo;s campus sustainability efforts.
<p><a class=button href=/apply/process/>Apply now</a>
