@use 'colors';
@use 'layout';

.button {
	display: inline-block;
	padding: 1em 3em;
	line-height: 1;

	background-color: colors.$green;
	color: colors.$white !important;

	font-weight: inherit;
	text-decoration: none;

	box-shadow: 0 0.5ex 0.5ex rgba(0, 0, 0, 0.25);

	&:active {
		box-shadow: 0 0.5ex 0.5ex rgba(0, 0, 0, 0.25) inset;
	}
}

.banner {
	margin-top: 1rem;
	margin-bottom: -3rem;

	@media (min-width: layout.$page-break) {
		float: right;
		margin: initial;
	}
}

.showcase {
	display: grid;
	grid-template-columns: 1fr;

	@media (min-width: layout.$page-break) {
		grid-template-columns: 1fr 1fr;
	}

	background-color: colors.$lightgreen;

	&:nth-of-type(even) {
		background-color: colors.$lightblue;

		@media (min-width: layout.$page-break) {
			img {
				grid-area: 1 / 2;
			}
		}
	}

	img {
		width: 100%;
	}

	div {
		margin: 0 1em;
	}
}

h1 {
	counter-reset: heading;
}

h2 {
	counter-increment: heading;
}

.counted::before {
	content: counter(heading) '. ';
}

.checklist-tip {
	list-style-type: circle;
}
