@use 'colors';
@use 'layout';

.button {
	display: inline-block;
	padding: 1em 3em;
	line-height: 1;

	background-color: colors.$green;
	color: colors.$white !important;

	font-weight: inherit;
	text-decoration: none;

	box-shadow: 0 0.5ex 0.5ex rgba(0, 0, 0, 0.25);

	&:active {
		box-shadow: 0 0.5ex 0.5ex rgba(0, 0, 0, 0.25) inset;
	}
}

.banner {
	display: block;
	margin: 1rem auto -3rem;

	@media (min-width: layout.$page-break) {
		float: right;
		margin: initial;
	}
}

h1 {
	counter-reset: heading;
}

h2 {
	counter-increment: heading;
}

.counted::before {
	content: counter(heading) '. ';
}

.checklist-tip {
	list-style-type: circle;
}
