@use 'colors';
@use 'common';

$section-spacing: 5em;

$logo-height: 5rem;
$logo-stick-out: 2.5rem;
$logo-align-offset: 3rem;

footer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	margin-top: $logo-stick-out;
	padding-bottom: $section-spacing;

	background-color: colors.$lightblue;

	color: colors.$green;
	font-size: smaller;

	ul {
		@extend %unlist;
	}

	a {
		font-weight: inherit;
		text-decoration: none;
	}
}

.foot-contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0 3em;

	img {
		max-height: $logo-height;
	}

	h1 {
		grid-column: 1 / -1;
		text-align: center;
		margin: -$logo-stick-out 0 0 (-$logo-align-offset);
	}

	h2 {
		font-size: inherit;
		text-transform: uppercase;
	}
}

.foot-oh {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;

	margin-top: $section-spacing;

	h1 {
		text-transform: uppercase;
		margin: 0;
	}

	h2 {
		font-weight: inherit;
		margin-top: 0;
	}
}
