@use 'colors';
@use 'common';

footer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	padding-bottom: 5em;

	background-color: colors.$lightblue;

	color: colors.$green;
	font-size: smaller;

	ul {
		@extend %unlist;
	}

	a {
		font-weight: inherit;
		text-decoration: none;
	}
}

.foot-contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0 3em;

	h1 {
		grid-column: 1 / -1;
		text-align: center;

		margin-left: -2em;
		margin-bottom: 0;
	}

	h2 {
		font-size: inherit;
		text-transform: uppercase;
	}
}

.foot-oh {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;

	margin-top: 5em;

	h1 {
		text-transform: uppercase;
		margin: 0;
	}

	h2 {
		font-weight: inherit;
		margin-top: 0;
	}
}
