@use 'colors';

@use '../node_modules/typeface-montserrat';

::selection {
	background-color: colors.$gold;
	color: colors.$black;
}

:root {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

a {
	color: colors.$green;
	font-weight: bold;

	&:hover:not(:focus) {
		color: colors.$blue;
	}
}

ul {
	list-style-type: square;
}

address {
	font-style: normal;
}

main {
	line-height: 1.8;

	h1 {
		font-size: xx-large;
	}
}
