@use 'colors';

@use '../node_modules/typeface-montserrat';

::selection {
	background-color: colors.$gold;
	color: colors.$black;
}

:root {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

a {
	color: colors.$green;
	font-weight: bold;

	&:hover:not(:focus) {
		color: colors.$blue;
	}

	h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
		text-decoration: none;
	}
}

ul {
	list-style-type: square;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

hr {
	border: none;
	border-top: thin solid rgba(0, 0, 0, 0.5);
}

iframe {
	width: 100%;
	border: none;
}

main {
	line-height: 1.8;

	h1 {
		font-size: xx-large;
		padding-top: 2rem;
	}
}
