@use 'colors';
@use 'common';

header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	background-color: rgba(colors.$lightgreen, 0.25);

	img {
		max-height: 6.5rem;
	}

	h1 {
		margin: 0.5rem 0 0.5rem -1.5rem;
	}
}

.site-nav {
	display: flex;

	ul {
		@extend %unlist;
		margin: 0;

		display: flex;
		flex-wrap: wrap;

		ul {
			display: none;

			position: absolute;
			top: 100%;
			min-width: 100%;
			z-index: 1;

			background-color: inherit;
			box-shadow: 0 1ex 1ex rgba(0, 0, 0, 0.1);

			li {
				display: initial;
			}

			a {
				border-width: 0 0 0 thick;
			}
		}
	}

	li {
		display: flex;
		position: relative;

		&:focus-within {
			background-color: colors.$lightblue;

			a:not([href])::after {
				content: '~';
			}

			ul {
				display: initial;
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		padding: 1em;

		border: solid transparent;
		border-width: thick 0;

		text-decoration: none;

		&:not([href])::after {
			content: '+';
			margin-left: 1ex;
			margin-right: -1ex;
		}

		&[aria-current] {
			border-top-color: colors.$green;
			border-left-color: colors.$green;
		}
	}
}
