@use 'colors';
@use 'common';

header {
	display: flex;

	background-color: mintcream;

	h1 {
		flex: 1;
		margin: 0;
	}

	a {
		text-decoration: none;
	}
}

.site-nav {
	line-height: 3;

	display: flex;

	> ul {
		display: flex;

		> li {
			display: flex;

			> a {
				border: {
					top: thick solid transparent;
					bottom: thick solid transparent;
				}

				&::after {
					margin: {
						left: 1ex;
						right: -1ex;
					}
				}
			}
		}
	}

	ul {
		@extend %unlist;
		margin: 0;

		position: relative;

		ul {
			display: none;

			position: absolute;
			top: 100%;

			box-shadow: 0 1ex 1ex rgba(0, 0, 0, 0.1);

			a::after {
				position: absolute;
				right: 1em;
			}

			a[aria-current] {
				text-decoration: underline;
			}

			ul {
				top: 0;
				left: 100%;
			}
		}
	}

	li:focus-within {
		background-color: colors.$lightblue;

		> a::after {
			color: transparent;
		}

		> ul {
			display: initial;
			background-color: inherit;
		}
	}

	a {
		display: flex;
		align-items: center;
		padding: 0 1em;

		position: relative;

		&:not([href])::after {
			content: '+';
		}

		&[aria-current] {
			border-top-color: colors.$green;
		}
	}
}
