@use 'colors';
@use 'common';

header {
	display: flex;

	background-color: mintcream;

	h1 {
		flex: 1;
		margin: 0;
	}

	a {
		text-decoration: none;
	}
}

.site-nav {
	display: flex;

	ul {
		@extend %unlist;
		margin: 0;

		display: flex;
		position: relative;

		ul {
			display: none;

			position: absolute;
			top: 100%;

			background-color: inherit;
			box-shadow: 0 1ex 1ex rgba(0, 0, 0, 0.1);

			li {
				display: initial;
			}

			a {
				border: none;
				border-left: thick solid transparent;
			}
		}
	}

	li {
		display: flex;

		&:focus-within {
			background-color: colors.$lightblue;

			a::after {
				color: transparent;
			}

			ul {
				display: initial;
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		padding: 1em;

		border-top: thick solid transparent;
		border-bottom: thick solid transparent;

		&:not([href])::after {
			content: '+';
			margin-left: 1ex;
			margin-right: -1ex;
		}

		&[aria-current] {
			border-top-color: colors.$green;
			border-left-color: colors.$green;
		}
	}
}
