@use 'layout';

body {
	min-height: 100vh;
	margin: 0;

	display: flex;
	flex-direction: column;

	> main {
		flex: 1;
	}

	> * {
		padding: 0 calc((100vw - #{layout.$page-width}) / 2);
		padding: 0 max((100vw - #{layout.$page-width}) / 2, #{layout.$page-margin});
	}
}
