<!DOCTYPE html>
<html lang=en>
	<title><%= title %> &mdash; TGIF at UCLA</title>
	<link rel=stylesheet href=/img/main.css>
	<meta name=viewport content="width=device-width">

	<body class="<%= (locals.features || []).map(f => `feat-${f}`).join(' ') %>">
		<header>
			<h1>
				<a href=/>
					<img src=/img/TGIF.png alt="The Green Initiative Fund">
				</a>
			</h1>

			<nav class=site-nav>
				<%- include('/navlist', collections.nav) %>
			</nav>
		</header>

		<main>
			<article>
				<%- content %>
			</article>
		</main>

		<footer>
			<section class=foot-contact>
				<h1><img src=/img/TGIF-quiet.png alt="TGIF Contact Information"></h1>

				<section>
					<h2>Contact</h2>
					<address>
						<ul>
							<li><a href=tel:+1-310-206-0703>(310) 206-0703</a>
							<li><a href=mailto:tgif@asucla.ucla.edu>tgif@asucla.ucla.edu</a>
						</ul>
					</address>
				</section>

				<section>
					<h2>Office Address</h2>
					<address>
						<p>
							308 Westwood Plaza<br>
							Ackerman Union 262G<br>
							Los Angeles, CA 90095
					</address>
				</section>

				<section>
					<h2>TGIF Grant Coordinator</h2>
					<address>
						<p>
							Jessica Alexander<br>
							<a href=mailto:tgif@asucla.ucla.edu>jalexander@asucla.ucla.edu</a>
					</address>
				</section>

				<section>
					<h2>Social Media</h2>
					<ul>
						<li><a href=https://www.facebook.com/tgifucla>Facebook</a>
						<li><a href=https://www.instagram.com/tgifucla>Instagram</a>
						<li><a href=https://twitter.com/tgifucla>Twitter</a>
					</ul>
				</section>
			</section>

			<section class=foot-oh>
				<hgroup>
					<h1>TGIF Virtual Office Hours</h1>
					<h2>Have questions about TGIF or the Req process?</h2>
				</hgroup>

				<ul>
					<li>Tuesdays 4&ndash;6PM</li>
					<li>Thursdays 2&ndash;4PM</li>
				</ul>

				<p><a class=button href>Sign up</a>
			</section>
		</footer>
