<!DOCTYPE html>
<html lang=en>
	<title><%= title %> &mdash; TGIF at UCLA</title>
	<link rel=stylesheet href=/img/main.css>
	<meta name=viewport content="width=device-width">

	<body class="<%= (locals.features || []).map(f => `feat-${f}`).join(' ') %>">
		<header>
			<h1>
				<a href=/>
					<img src=/img/tgif.png alt="The Green Initiative Fund">
				</a>
			</h1>

			<nav class=site-nav>
				<%- include('/navlist', collections.nav) %>
			</nav>
		</header>

		<main>
			<article>
				<%- content %>
			</article>
		</main>

		<footer>
			<section class=foot-contact>
				<h1><img src=/img/tgif.png alt="TGIF Contact Information"></h1>

				<section>
					<h2>Contact</h2>
					<address>
						<ul>
							<li><a href=tel:+1-310-206-0703>(310) 206-0703</a>
							<li><a href=mailto:tgif@asucla.ucla.edu>tgif@asucla.ucla.edu</a>
							<li><a href=mailto:usacwebmaster@asucla.ucla.edu>Email Webmaster (Aniket Das)</a>
						</ul>
					</address>
				</section>

				<section>
					<h2>Office Address</h2>
					<address>
						<p>
							308 Westwood Plaza<br>
							Ackerman Union A262C<br>
							Los Angeles, CA 90095
					</address>
				</section>

				<section>
					<h2>TGIF Grant Coordinator</h2>
					<address>
						<p>
							Jessica Alexander<br>
							<a href=mailto:tgif@asucla.ucla.edu>tgif@asucla.ucla.edu</a>
					</address>
				</section>

				<section>
					<h2>Social Media</h2>
					<ul>
						<li><a href=https://www.facebook.com/tgifucla>Facebook</a>
						<li><a href=https://www.instagram.com/tgifucla>Instagram</a>
						<li><a href=https://twitter.com/tgifucla>Twitter</a>
					</ul>
				</section>
			</section>

			<section class=foot-oh>
				<hgroup>
					<h1>Fall Quarter Committee Office Hours</h1>
					<h2>Meet with the TGIF Grant Coordinator</h2>
				</hgroup>

				<p>Mondays from 4-5 PM except Finals Week<br>

				<p><a class=button href=https://ucla.zoom.us/j/3445700417>Zoom Link</a>
			</section>
		</footer>
