<ul>
	<% for (const item of Object.values(children)) { %>
		<li><a tabindex=0
				<% url = item.data.url || item.data.page.url %>
				<% if (url) { %>
					href="<%= url %>"
					<% if (/^https?:\/\//.test(url)) { %>
						target="_blank"
					<% } %>
				<% } %>

				<% if (item.contains(page)) { %>
					aria-current=page
				<% } %>
			><%= item.data.title %></a>

		<%- include('/navlist', item) %>
	<% } %>
</ul>
