---
title: Program History
---

<h1><%= title %></h1>

<h2>2008</h2>
The TGIF fee is <a href=https://usac.ucla.edu/docs/misc.2008.The%20Green%20Initiative%20Fund%20Fee%20Referendum%20(TGIF).pdf>put on the ballot</a> for the undergraduate student body to vote on a $4 per student per quarter fee, set to expire after 10 years. The referendum passed with a 76.46% yes vote.

<h2>2016</h2>
TGIF is <a href=https://usac.ucla.edu/docs/misc.2016.The%20Green%20Initiative%20Fund%20Fee%20Referendum%20(TGIF).pdf>put on the ballot</a> to extend the expiration date indefinitely, and passed with a 69.8% yes vote.

<h2>2017</h2>
TGIF hosts the inaugural Sustainability Innovation Challenge and awards Bruin Home Solutions $50,000 to complete their project.

<h2>2019</h2>
TGIF introduces the <a href=/projects/capital/>Capital/Infrastructure Project</a> Application.
