---
title: Program History
---

<h1><%= title %></h1>

<h2>2008</h2>
The Green Initiative Fund referendum fee is <a href=https://usac.ucla.edu/docs/misc.2008.The%20Green%20Initiative%20Fund%20Fee%20Referendum%20(TGIF).pdf>put on the ballot</a> for the undergraduate student body to vote on a $4 per student per quarter fee, set to expire after 10 years. The referendum passed with a 76.46% yes vote.

<h2>2009</h2>
The first TGIF grants are awarded. Two of the first projects to spend TGIF funds include:
<ul>
	<li><i>Investigations into the implementation of a Room Temperature Nucleic Acid Storage Technology in UCLA Research Laboratories</i>
	<li><i>University of California, Los Angeles STARS Sustainability Assessment</i>
</ul>

<h2>2011</h2>
TGIF introduces the Mini Fund, for smaller projects needing up to $500 in funding.

<h2>2016</h2>
TGIF is <a href=https://usac.ucla.edu/docs/misc.2016.The%20Green%20Initiative%20Fund%20Fee%20Referendum%20(TGIF).pdf>put on the ballot</a> to extend the expiration date indefinitely with a $4.80 per student per quarter fee. The referendum passed with a 69.8% yes vote.

<h2>2017</h2>
TGIF hosts the inaugural Sustainability Innovation Challenge and awards Bruin Home Solutions $50,000 to complete their project of building an aquaponics garden on campus.

<h2>2019</h2>
TGIF introduces the <a href=/projects/capital/>Capital/<wbr>Infrastructure Project</a> Application to accommodate large scale sustainability projects that improve campus infrastructure such as retrofit projects, installation projects, and building or campus landscape projects. Funding deadlines are amended to align with academic weeks, and an additional Mini Fund funding round is added to increase funding access for students.

<h2>2020</h2>
TGIF introduces the Student Support Fund, a pilot project, to support student labor in sustainability, created in response to the increase in applications to fund student labor in Fall 2020.

<h2>2023</h2>
TGIF transforms the Student Support Fund pilot program into TGIF Tokens of Appreciation to mitigate previous years’ issues of an absence of punctuality in receiving funding. People can apply up to $150/quarter per student in BruinCard deposits or gift cards to recognize impactful, long-term sustainability efforts by students.
