---
title: Mission
---

<img class=banner src=/img/sustainability.svg alt="Illustration of five people standing behind the planet Earth, which is shown facing the Americas. A long-haired woman, a bearded man, a woman (supporting the Earth), a woman wearing a headscarf, and another person. Each holds a different symbol &mdash; a sun, a leaf, a water droplet, and a recycling icon.">

<h1><%= title %></h1>

<p><strong>The goal of The Green Initiative Fund (TGIF) is to enable and empower students to take an active role in making UCLA a leader in sustainability.</strong> TGIF supports and provides much needed funding for projects that promote the mission of UCLA sustainability, which is to create a culture in which the entire UCLA community is aware of, engaged in, and committed to advancing sustainability.

<p>We define sustainability as <q>the integration of environmental health, social equity, and economic vitality in order to create thriving, healthy, diverse, and resilient communities for this generation and generations to come.</q> The practice of sustainability recognizes how these issues are interconnected and requires a systems approach and an acknowledgement of complexity.
