---
title: Mission
---

<img class=banner src=/img/sustainability.svg alt="Illustration of five people standing behind the planet Earth, which is shown facing the Americas. A long-haired woman, a bearded man, a woman (supporting the Earth), a woman wearing a headscarf, and another person. Each holds a different symbol &mdash; a sun, a leaf, a water droplet, and a recycling icon.">

<h1><%= title %></h1>

<p><strong>The goal of The Green Initiative Fund (TGIF) is to enable and empower students to take an active role in making UCLA a leader in sustainability. TGIF will provide much needed funding for projects that reduce UCLA's negative impact on the environment.</strong>

<p>TGIF is a grant-making fund for sustainability projects on UCLA's campus. Roughly $200,000 per year is available for student-initiated sustainability projects on campus. Projects will be selected for funding by an annually appointed Grant Making Committee consisting of students, faculty, and staff, in which students have the majority vote.

<p>TGIF is funded by a $4 per quarter student fee beginning in Fall 2008. The fee referendum was overwhelmingly approved by the student body during the May 2008 USAC elections, with 75% voting in favor.
