---
title: The Team
---

<h1>Meet the TGIF Committee</h1>

<p>The TGIF Committee is the decision-making body of The Green Initiative Fund. It chooses which projects receive funding, approves changes to awards, and guides the general direction of TGIF.

<section class=person>
	<img src=/img/team/cooper.jpg alt="">
	<div>
		<hgroup>
			<h2>Sachi Cooper</h2>
			<h3>TGIF Committee Chair</h3>
		</hgroup>
		<p>Sachi is a third-year Geography student minoring in Urban Studies and GIS. She currently serves as the USAC Facilities Commissioner, and first got involved in sustainability through her experiences hiking and camping in her home state of Virginia. Her current favorite zero-waste hack is using rice water to fertilize plants.
	</div>
</section>

<section class=person>
	<img src=/img/team/ma.jpg alt="">
	<div>
		<hgroup>
			<h2>Cheryl Ma</h2>
			<h3>Undergraduate Committee Member</h3>
		</hgroup>
		<p>Cheryl is a 3rd year Economics major, Environmental Systems and Society and Public Affairs double minor with interests in environmental justice specific to urban planning, resource accessibility, and sustainable living. Outside of TGIF, she is a part of the Cultural Affairs Commission, Bruin Home Solutions, Clean Consulting, and is a Campus Tour guide. Most importantly, she is double jointed in her right shoulder and can dislocate it on command!
	</div>
</section>

<section class=person>
	<img src=/img/team/soares.jpg alt="">
	<div>
		<hgroup>
			<h2>Kristen Soares</h2>
			<h3>Undergraduate Committee Member</h3>
		</hgroup>
		<p>Kristen Soares (she/her/hers) is a fourth-year Environmental Science major with minors in Public Affairs and Environmental Systems & Society. Born and raised in New Jersey, she has brought her passion for environmental justice and climate equity policy from one coast to the other to empower a new generation of youth climate advocates. Aside from activism, she enjoys singing in her a cappella group, eating vegan buffalo wings, and fighting racists.
	</div>
</section>

<section class=person>
	<img src=/img/team/sugai.jpg alt="">
	<div>
		<hgroup>
			<h2>Sean Sugai</h2>
			<h3>Undergraduate Committee Member</h3>
		</hgroup>
		<p>Sean Sugai is a second-year from Hawaii and plans to double major in Pre-Human Biology and Society and Anthropology and minor in Public Health. Although he aspires to work in the healthcare field, Sean understands the salient intersections between health outcomes and a person's environment. In order to work towards a more health-conscious future where student wellness is at the forefront of our decision-making process, we must be proactive in securing a more sustainable future both on campus and in the community.
	</div>
</section>

<section class=person>
	<img src=/img/team/tanner.jpg alt="">
	<div>
		<hgroup>
			<h2>Elizabeth Tanner</h2>
			<h3>Undergraduate Committee Member</h3>
		</hgroup>
		<p>Elizabeth Tanner is a 4th year undergraduate student majoring in Ecology, Behavior, & Evolution and minoring in Society & Genetics. She has been interested in the social and environmental aspects of sustainability since middle school and is involved on campus as a co-director of the Sustainability Action Research program, co-chair of the student organization E3: Ecology, Economy, Equity, and is one of the UCLA Zero Waste Ambassadors. In her free time, she enjoys outdoor activities like hiking, skiing, and even scuba diving with sea turtles!
	</div>
</section>

<section class=person>
	<img src=/img/team/alexander.jpg alt="">
	<div>
		<hgroup>
			<h2>Jessica Alexander</h2>
			<h3>Grant Coordinator</h3>
		</hgroup>
		<p>Jessica Alexander is the Student Government Services Division Manager and TGIF Grant Coordinator at Associated Students UCLA. She oversees the Student Government Services department and works closely with the Undergraduate Student Association Council (USAC) and the Graduate Student Association (GSA) in various capacities, in addition to managing operations and funding for The Green Initiative Fund (TGIF). With over nine years of experience in nonprofit and grant management, she aims to increase awareness of and access to TGIF funding for all students. Jessica holds an MPA in Nonprofit Sector Management from CSUN and a BA in Sociology from UCLA.
	</div>
</section>
