---
title: Deadline Calendar
---

<h1>TGIF Deadlines</h1>
<ul>
	<li>TGIF Main Fund is due once per quarter on the Friday of Week 2 by 11:59PM.
	<li>TGIF Mini Fund is due Friday of Week 2, 4, 6, and 8 of each quarter by 11:59PM.
	<li>Capital/Infrastructure applications are received on a rolling basis.
</ul>

<h1>TGIF Calendar</h1>
<iframe src="https://calendar.google.com/calendar/embed?src=d103s1je08qroj0upblbukgtf4%40group.calendar.google.com" height=600></iframe>
