---
title: Funding Process
---

<h1><%= title %></h1>

<p>Interested in applying for a TGIF grant? Follow the steps below.

<h2 class=counted>Am I eligible to apply?</h2>
<ul class=checklist>
	<li>I am a UCLA student, staff member, or faculty member (can be applying on behalf of an organization).
</ul>

<h2 class=counted>Does my project meet the requirements to apply to TGIF?</h2>
<ul class=checklist>
	<li>The project promotes environmental sustainability on UCLA's campus.
	<li>The project has a clearly-defined, measurable outcome.
	<li>The project has a mechanism for evaluation and follow-up after funding has been disbursed.
	<li class=checklist-tip>Learn more about <a href="https://docs.google.com/document/d/12ljIO5E2N_gr86mvmcEyPQr9n2mkA_tgU3j8DktL7Fc/edit?usp=sharing">TGIF guidelines</a>.
</ul>

<h2 class=counted>The application process and expected timeline</h2>
<ul class=checklist>
	<li class=checklist-tip>When creating your budget, reference this <a href="https://docs.google.com/spreadsheets/d/1MXxgEhPSV4x6n7wM0uPaO4voQd6FSTx_9SQicJulsgU/edit?usp=sharing">sample budget</a>.</li>
	<li><a href=/apply/mini/>TGIF Mini Fund</a> (requesting $1,000 or less)
		<ul>
			<li>Fill out an application before the deadline.
			<li>Within two weeks of the funding deadline, you will receive your allocation via email.
		</ul>
	<li><a href=/apply/main/>TGIF Main Fund</a> (requesting $10,000 or less)
		<ul>
			<li>Fill out an application before the deadline.
			<li>Sign up for a hearing (the link will be sent a week following the deadline).
			<li>Attend the hearing.
			<li>Within two weeks of the hearing, you will receive your allocation via email.
		</ul>
	<li><a href=/apply/capital/>Capital/<wbr>Infrastructure Projects</a> (requesting more than $10,000)
		<ul>
			<li>Fill out an application (accepted on a rolling basis).
			<li>Within two weeks of the funding deadline, you will receive your allocation via email.
			<li>If funded, you will schedule quarterly meetings with the Grant Coordinator.
		</ul>
</ul>
