---
title: Funding Process
---

<h1><%= title %></h1>

<p>Interested in applying for a TGIF grant? Follow the steps below.

<h2 class=counted>Am I eligible to apply?</h2>
<ul class=checklist>
	<li>I am a UCLA student, staff member, or faculty member (can be applying on behalf of an organization).
</ul>

<h2 class=counted>Does my project meet the requirements to apply to TGIF?</h2>
<ul class=checklist>
	<li>The project promotes environmental sustainability on UCLA's campus.
	<li>The project has a clearly-defined, measurable outcome.
	<li>The project has a mechanism for evaluation and follow-up after funding has been disbursed.
	<li class=checklist-tip>Learn more about <a href>TGIF guidelines</a>.
</ul>

<h2 class=counted>The application process and expected timeline</h2>
<ul class=checklist>
	<li class=checklist-tip>When creating your budget, reference this <a href>sample budget</a>.</li>
	<li>TGIF Mini Fund
		<ul>
			<li>Fill out application before deadline.
			<li>Within two weeks of the funding deadline, you will receive your allocation via email.
		</ul>
	<li>TGIF Main Fund
		<ul>
			<li>Fill out application before deadline.
			<li>Sign up for a hearing; the link will be sent a week following the deadline.
		</ul>
</ul>
