---
title: Tokens of Appreciation
---


<h1>TGIF Tokens of Appreciation</h1>

<p>The TGIF Tokens of Appreciation, or "TGIF Tokens," initiative started during the 2022-2023 academic year is a transformation of the Student Support Fund pilot that began during the 2020-2021 and 2021-2022 academic years. The program will recognize undergraduate students completing projects with long-term tangible, sustainability impacts on UCLA.

<h2>Why TGIF Tokens?</h2>
<p>Due to challenges surrounding the timely processing of funds to students and the complications of evaluating undergraduate sustainability involvement through a grant application program separate from the Main/Mini/Capital Fund applications, the 2022-2023 TGIF committee created the TGIF Tokens program to continue to extend support and appreciation for students contributing to sustainability work at UCLA. TGIF Tokens, which act as an extension to Mini, Main, and Capital Fund applications, improve the efficiency of fund allocation and maintain accountability in distributing sustainability funds. Note that the purpose of TGIF Tokens is to allow students to apply for <b>financial recognition*</b> of their sustainability projects. As TGIF does not formally stipend or hire students for their sustainability work, we want to emphasize that TGIF Tokens are not for students applying for financial need or compensation for labor. 
<br>
<br>*The 2022-2023 TGIF committee defines financial recognition as appreciation for students’ contributions and efforts to sustainability at UCLA. Financial recognition does not replace compensation for sustainability efforts on campus relating to a paid job. Instead, TGIF Tokens function like a gift for students as if to accompany a certificate of appreciation.  Note: There may be limitations to distributing TGIF Tokens of Appreciation due to taxes or other financial reasons.

<h2>How do TGIF Tokens work?</h2>
<p>Applicants can apply for up to $150/quarter per student in TGIF Tokens through the Mini, Main, and Capital Fund applications. TGIF Tokens are eligible for receipt through Bruin Card deposit or gift card. When applying for regular project funding, you can add a line item for TGIF Tokens of Appreciation. These are not hourly wages, stipends, or honorariums (Note: Honorariums are typically for artists or speakers at events). The committee will consider people's submissions for TGIF Tokens in the same way we evaluate all Mini, Main, and Capital Fund applications. (Visit our FAQs for questions on how the committee decides to accept or reject applications.) When applying for TGIF Tokens, consider the work required for the project and what you think is a fair amount! If you have questions about TGIF Tokens, please visit our office hours.

<h2>Strict Guidelines</h2>
<ul>
	<li>You must attach TGIF Tokens of Appreciation requests to Mini, Main, or Capital Fund projects.
	<li>They must be a line item in your budget. Briefly explain the work you want to recognize in your application under the project summary and the sustainability impact of the work in the sustainability section.
	<li>We accept applications for projects that are applying for TGIF Tokens as their only line item.
	<li>Individuals are only eligible for up to $150 per quarter in TGIF Tokens.
	<li>The maximum amount for the school year would be $600 per year, as outlined in <a href="https://www.finance.ucla.edu/tax-records/tax-services/taxing-noncash-awards-prizes">this policy</a>.
	<li>We will fund deposits as Bruincard deposits or gift cards only. Please state on your application which is preferable. 
	<li>We prioritize TGIF Tokens for individuals who display a significant or ongoing commitment to a sustainability project, such as leaders or major contributors to events or initiatives promoting long-term sustainability change.
</ul>

<h2>Helpful Tips for Information to Include</h2>
<p>Please include the following, if possible:
<ul>
	<li>Describe the extent of your time investment in this project
	<li>The nature of the labor
	<li>The reasoning for why you chose the final dollar amount
	<li>The reason why you are applying to TGIF for this funding over other funding bodies
	<li>Information about the context of your work, such as whether it was attached to a leadership position
</ul>
<p>Note: Because we are still developing guidelines for what TGIF Tokens of Appreciation will look like, providing more information in your application will support the committee in making a thoughtful decision about your request.
	