---
title: Access Funding
---

<h1>Access your Funding</h1>

<p>You received your allocation email. Now what?

<h2 class=counted>Grant agreement</h2>
<ul class=checklist>
	<li>Read through the Grant Agreement thoroughly and note your account number.
	<li>Return the signed form to <a href=mailto:sgs@asucla.ucla.edu>sgs@asucla.ucla.edu</a>.
</ul>

<h2 class=counted>Accessing funds through the Requisition Form</h2>
<ul class=checklist>
	<li>Fill out a <a href=https://usac.ucla.edu/funding/sga/req/>requisition (Req) form</a>.
		<ul>
			<li>Need help? See the <a href=https://usac.ucla.edu/docs/req-howto.pdf>step-by-step tutorial</a>.
		</ul>
	<li>Submit it to the <a href=mailto:tgif@asucla.ucla.edu>TGIF Grant Coordinator</a> via email.
		<ul>
			<li>Make sure to attach your Req and supporting documentation.
			<li>If there is a problem with your form, we will contact you directly.
		</ul>
	<li>Check the Student Government Accounting (SGA) <a href=https://docs.google.com/spreadsheets/d/1oyfXfrTifoyw8T3SKbkRvgE8aZMc_Amkm9NkCB2Zanc/edit>Check Register</a> frequently to see if your funding is available.
</ul>

<h2 class=counted>Using your funds</h2>
<ul class=checklist>
	<li>Once your name appears on the Check Register, your funds are available!
	<li>Wait for the check to be sent to you, since the SGA office is currently closed due to COVID-19.
</ul>
